{% extends 'flatpages/default.html'%}
{% block title %}
Delete
{% endblock title %}

{% block content %}
{% if post.post_type == 'nw' %}
    <h1>Удаление новости</h1>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
      <p> Подтвердить удаление новости:</p>
          <p>'{{ object.title }}'?</p>
        <input type="submit" value="Agree" />

    </form>
    {% else %}
        <h2>Выбранная Вами публикация не является новостью: перейдите по <a href='/article/{{ post.id }}/delete/'>ССЫЛКЕ</a> для ее удаления.</h2>
    {% endif %}



{% endblock content %}